#eCommerce {
	width:100%;height:550px;
}
.e1 {
	padding-right:15px;
	width:30%;height:550px;
	border:1px solid black;
	margin-left:2.5%;
	text-align:center;
	float:left;
	overflow:hidden;
}
		#f1{
			transform:scale(0.5, 0.5);
			width:500px;height:500px;
			border-radius:300px;
			margin-left:-24px;
			margin-top:-35px;
			background:#77DDFF;
			
		}
		#f2 {
			width:250px;height:250px;
			border-radius:0 0 300px 0;
			margin:-1px;
			position:relative;top: 297px;left:172px;
			transform: rotate(30deg);
			background:#0d143f;
		}
		#f3 {
			width:250px;height:250px;
			border-radius:0 0 0 300px;
			margin:-1px;
			transform: rotate(-30deg);
			position:relative;top:48px;left:80px;
			background:#0d143f;
		}
		#f4 {
			transform: rotate(-60deg);
			margin:-1px;
			width:250px;height:250px;
			border-radius:0 0 300px 0;
			position:relative;top:-418px;left:296px;
			background:#77DDFF;
		}
		#f5 {
			margin:-1px;
			width:250px;height:250px;
			border-radius:0 300px 0  0;
			position:relative;top:-746px;left:251px;
			background:#77DDFF;
		}
		#f6 {
			
			margin:-1px;
			width:250px;height:250px;
			border-radius:300px 0 0  0;
			position:relative;top:-995px;left:1px;
			background:#133971;
		}
		#f7 {
			transform: rotate(-30deg);
			margin:-1px;
			width:250px;height:250px;
			border-radius:300px 0 0  0;
			position:relative;top:-1164px;left:-45px;
			background:#133971;
		}
.F1 {
	width:250px;height:250px;
	border-radius:300px;
	position:relative;top:-375px;left:102px;
	overflow:hidden;
	transform:scale(1.5,1.5);
	background:#0d143f;
	
}
.F2 {
	width:250px;height:250px;
	border-radius:300px;
	position:relative;top:-376px;left:102px;
	overflow:hidden;
	transform:scale(1.5,1.5);
	background:#77DDFF;;
	
}
.F3 {
	width:250px;height:250px;
	border-radius:300px;
	position:relative;top:-375px;left:102px;
	overflow:hidden;
	transform:scale(1.5,1.5);
	background:#133971;
	position:relative;top:-375px;left:102px;
}
.F {
	width:65px;height:65px;
	border-radius:40px;
	background:white;
	position:relative;top:-282px;left:193px;
	border:3px solid black;
	overflow:hidden;
}
.eWord {
	color:white;
	font-size:50px;
	font-weight:900;
	position:relative;top:-1360px;left:125px;
}
.eWord2 {
	color:white;
	font-size:50px;
	font-weight:900;
	position:relative;top:-1460px;left:-125px;
}
.eWord3 {
	color:white;
	font-size:50px;
	font-weight:900;
	position:relative;top:-1350px;left:0px;
}
.eWord4 {
	color:blue;
	font-size:16px;
	font-weight:800;
	position:relative;top:16px;left:-1px;
}

.ff1 {
	width:320px;
	color:blue;
	font-size:22px;
	font-weight:800;
	position:relative;top:-558px;left:66px;
	
}
.ff2 {
	width:320px;
	color:white;
	font-size:22px;
	font-weight:800;
	position:relative;top:-723px;left:66px;
	
}
.ff3 {
	width:320px;
	color:white;
	font-size:20px;
	font-weight:800;
	position:relative;top:-658px;left:66px;
	
}
#b1 {
	width:45%;height:220px;
	border:3px solid black;
	margin-left:4.5%;
	float:left;
	overflow:hidden;
}
#b2 {
	width:45%;height:220px;
	border:3px solid black;
	margin-left:4.5%;
	float:left;
	overflow:hidden;
}
#b3 {
	width:45%;height:220px;
	border:3px solid black;
	margin-left:4.5%;
	margin-top:4.5%;
	float:left;
	overflow:hidden;
}
#b4 {
	width:45%;height:220px;
	border:3px solid black;
	margin-left:4.5%;
	margin-top:4.5%;
	float:left;
	overflow:hidden;
}
.w {
	font-size:20px;
	font-weight:700;
}
.e1 div li {
	margin-left:-10px;
	margin-right:10px;
	margin-top:2px;
	font-size:16px;
}
.s1 {
	font-size:20px;
	font-weight:700;
}
.s2 {
	font-size:90px;
	font-weight:700;
}
.s {
	display:none;
}
.s3 {
	font-size:50px;
	font-weight:700;
}
.s33 {
	font-size:30px;
	font-weight:700;
}
#shopping5 div {
	text-align:center;
}


